
<div class="block-slider block-slider4">
    <ul class="" id="bxslider-home4">
        <li>
            <img src="~/Public/frontend/img/QC/1.jpg" alt="Slide" style="height: 400px; width:1300px;">            
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/2.jpg" alt="Slide" style="height:400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/3.png" alt="Slide" style="height:400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/4.jpg" alt="Slide" style="height:400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/5.jpg" alt="Slide" style="height: 400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/6.jpg" alt="Slide" style="height: 400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/7.jpg" alt="Slide" style="height: 400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/8.png" alt="Slide" style="height: 400px; width:1300px;">
        </li>
    </ul>
</div>